@import '../abstracts/fonts';
@import '../abstracts/mixins';
@import '../abstracts/variables';

h1 {
  @include font(normal, normal, bold,  1.875rem/normal, $montserrat-font-family);

  color: $primary;
}

h2 {
  font: 500 3rem $montserrat-font-family;
}

h3 {
  @include font(normal, normal, bold, 1.375rem/normal);

  color: $black-two;
  letter-spacing: -0.02px;
}

h4 {
  @include font(normal, normal, 300, 0.875rem/normal);

  color: $pale-blue;
}
