@import '../abstracts/fonts';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.book-card {
  height: 75vh;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: $white;
  border: $primary-border-color solid 2px;
  padding: 20px;

  &__progress-graph-container {
    @include d-flex(row, flex-start, flex-start);

    height: 100%;

    &__wrapper {
      @include d-flex(row, flex-start, center);

      margin-top: 20px;
    }

    &__progress-graph {
      width: 80px;
      margin-right: 20px;
    }

    &__progress-percentage {
      @include d-flex(column, center, flex-start);

      &__completion {
        @include font(normal, normal, normal, 2rem/normal, $montserrat-font-family);

        color: $black-two;
      }

      &__progress-status {
        @include font(normal, normal, normal, 0.875rem/normal, $montserrat-font-family);

        opacity: 0.5;
        color: $black-two;
      }
    }
  }

  &__progress-controller {
    display: grid;
    justify-items: center;
    padding: 0;

    &__current-chapter-caption {
      @include font(normal, normal, 300, 0.813rem/normal);

      opacity: 0.5;
      color: $black-two;
    }

    &__current-chapter {
      @include font(normal, normal, 300, 1rem/normal);

      color: $black-two;
      margin-top: 0.4rem;
      letter-spacing: -0.4px;
    }

    &__btn {
      @include font(normal, normal, 300, 0.813rem/normal);

      margin: 20px 0 0 0;
      letter-spacing: 0.5px;
      padding: 10px 30px;

      &:hover {
        background-color: $medium-blue;
      }
    }
  }
}

.book {
  @include d-flex(column, center, center);

  padding: 1rem 0;

  &__category {
    @include font(normal, normal, bold, 0.875rem/normal, $montserrat-font-family);

    text-transform: capitalize;
    opacity: 0.5;
    color: $black-two;
    letter-spacing: -0.02px;
  }
}

.book-actions {
  @include d-flex(row, flex-start, center);

  &__action {
    &:nth-child(1) {
      padding-right: 1rem;
    }

    &:nth-child(2) {
      padding: 0.3rem calc(1rem + 1px);
      border-left: $primary-border-color 1px solid;
      border-right: $primary-border-color 1px solid;
    }

    &:nth-child(3) {
      padding-left: 1rem;
    }

    &__btn {
      @include font(normal, normal, 300, 0.875rem/normal);

      color: $pale-blue;
      background-color: transparent;
      padding: 0;

      &:hover {
        color: $primary;
      }
    }
  }
}

.progress-percentage {
  display: inline-block;
}

/*
  ========================

  Media Queries

  ========================
*/

/* Large devices (laptops/desktops, 769px and up) */

@media only screen and (min-width: 769px) {
  .book-card {
    height: auto;
    grid-template-columns: 5fr 2fr 3fr;
    padding: 14px 30px;
    justify-items: normal;

    &:hover {
      border: solid 2px $primary;
    }

    &__progress-graph-container::after {
      content: '';
      border: $primary-border-color 1px solid;
      height: 4rem;
      margin: 0 3rem;
      align-self: center;
    }

    &__progress-controller {
      justify-items: flex-start;
    }
  }

  .book {
    display: block;
  }
}
