@import '../abstracts/mixins';
@import '../abstracts/variables';
@import './navbar';

.header {
  background-color: $primary;

  &__sub-container {
    @include d-flex(row, space-between, center);

    max-width: 1600px;
    margin: 0 auto;
    color: $white;
    padding: 2rem;
  }
}
