@import '../abstracts/mixins';
@import '../abstracts/variables';
@import './navbar';

.header {
  background-color: $white;

  &__sub-container {
    @include d-flex(row, space-between, center);

    max-width: 1100px;
    margin: 0 auto;
    color: $white;
    padding: 2rem;

    &__navbar-wrapper {
      @include d-flex(row, flex-start, center);
    }

    &__logo {
      margin-right: 3rem;
    }
  }
}
